.navigation-clean-search .action-button,
.navigation-clean-button .action-button:active {
    background: #56c6c6;
    border-radius: 20px;
    font-size: inherit;
    color: #fff !important;
    box-shadow: none;
    border: none;
    text-shadow: none;
    padding: 8px 20px;
    transition: background-color 0.25s;
    justify-content: center;
    text-align: center;
}

.Logo {
    margin-right: 10px;
} 

.navigation-clean-button {
    background: #222222;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #f2f5f8;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
}

.nav-right a {
    color: rgba(224, 217, 217, 0.9);
}

.nav-right a:hover {
    color: #BFBFBF;
}

.icon-button-content {
    margin-right: 5px;
}

@media (max-width:767px) {
    .navigation-clean-button {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media (max-width:992px) {
    .navbar-text span {
        display: unset;
        margin-right: 20px;
    }
}

.navigation-clean-button .navbar-brand {
    font-weight: bold;
    color: inherit;
}

.navigation-clean-button .navbar-brand:hover {
    color: #BFBFBF;
}

.navigation-clean-button .navbar-collapse,
.navigation-clean-button .navbar-form {
    border-top-color: #ddd;
}

.navigation-clean-button.navbar .navbar-nav>li>a {
    padding-left: 18px;
    padding-right: 18px;
}

.navigation-clean-button .navbar-nav>li>.dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
    background-color: #ffffff;
    border-radius: 2px;
}

.navigation-clean-button .actions {
    margin-top: 7px;
    margin-bottom: 0;
}

.navigation-clean-button .actions span {
    display: none;
    color: #ffffff;
    font-size: 18px;
}

@media(min-width: 992px) {
    .navigation-clean-button .actions span {
        display: unset;
        margin-right: 20px;
    }
}

.navigation-clean-button .actions .login {
    margin-right: 7px;
    text-decoration: none;
    color: #ffffff;
}

.navigation-clean-button .actions .login:hover {
    color: #8f8f8f;
}

.navigation-clean-button .action-button,
.navigation-clean-button .action-button:active {
    background: #fff;
    border-radius: 15px;
    color: #ffffff;
    box-shadow: none;
    border: 1px solid #ffffff;
    text-shadow: none;
    padding: 5px 20px;
    transition: background-color 0.25s;
    margin-left: 10px;
}

.navigation-clean-button .action-button:hover {
    background: #BFBFBF;
    color: #fff;
    font-weight: 400;
    border: 1px solid #BFBFBF;
}

.navbar {
    margin-bottom: 0;
}

.btn {
    border-radius: 0;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #BFBFBF;
    border: none;
}

.btn {
    font-weight: 400;
}